header{
    position: absolute;
    left: 0;
    right: 0;
    height: 80px;
    z-index: 1;
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding-left: 120px;
    padding-right: 120px;
    margin-top: 10px;
    

    a {
        color: white;
        text-decoration: none;
        font-size: 20px;
        font-weight: 400;
        margin-left: 32px;

        &:hover {
            color: rgb(186, 186, 186);
        }
    }

    img{
        height: 100px;
    }
}